.row {
    --bs-gutter-x: 0 !important;
}

/* Ustawienia dla klasy 'alert' (alerty są wyświetlane na górze) */
.alert {
    width: 40%;
    height: 56px;
    position: absolute !important;
    left: 30%;
    top: 0%;
}

/* Ustawienia dla klasy 'list-group' (błędy formularzy są wyświetlane na dole) */
.list-group {
    width: 40%;
    height: 56px;
    position: fixed !important;
    left: 30%;
    bottom: 0%;
}

/* Ustawienia dla klas 'login-errors', 'register-errors' */
.login-errors, .register-errors {
    bottom: 26%;
}