{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mt-2">Zaloguj się</h1>

<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="form-group mb-3">
                {% for field in form %}
                    <p>
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% if field.errors %}
		                    <ul class="errorlist">
			                {% for error in field.errors %}
			                    <li>{{ error }}</li>
			                {% endfor %}
		                    </ul>
		                {% endif %}
                        {{ field }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md mb-2">Zaloguj się</button>
    </div>
</form>
<p class="text-center">Nie posiadasz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>

{% endblock content %}