{% extends 'base.html' %}

{% block title %}Zaloguj się{% endblock title %}

{% block content %}

<h1 class="text-center mt-2">Zaloguj się</h1>

<form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-3 mx-3">
            <div class="form-group mb-3">
                {% for field in form %}
                    <p>
                        <!-- Wyświetlenie etykiety formularza -->
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% if field.errors %}
                            <ul class="list-group login-errors">
                            {% for error in field.errors %}
                                <li class="list-group-item list-group-item-danger mb-1">{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <!-- Wyświetlenie pola formularza -->
                        {{ field }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Przycisk do zatwierdzenia formularza -->
    <div class="d-flex justify-content-center">
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md mb-2">Zaloguj się</button>
    </div>
</form>
<p class="text-center">Nie posiadasz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>

{% endblock content %}