{% extends 'base.html' %}

{% block title %}Twój profil{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}

<h1 class="text-center mt-2">Twój profil</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <!-- Formularz dla wrażliwych danych użytkownika -->
        <div class="col-md-3 mx-3">
            <div class="form-group mb-3">
                {% for field in sensitive_form %}
                    {% if field.errors %}
                        <!-- Wyświetlenie komunikatów o błędach dla pola formularza -->
                        <ul class="list-group">
                        {% for error in field.errors %}
                            <li class="list-group-item list-group-item-danger">Pole ➤ {{ field.label }}. {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <p>
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% endfor %}
            </div>
        </div>

        <!-- Formularz dla danych użytkownika i jego profilu -->
        <div class="col-md-3 mx-3">
                {% for field in user_form %}
                    {% if field.errors %}
                        <!-- Wyświetlenie komunikatów o błędach dla pola formularza -->
                        <ul class="list-group">
                        {% for error in field.errors %}
                            <li class="list-group-item list-group-item-danger">Pole ➤ {{ field.label }}. {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <p>
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% endfor %}
                {% for field in profile_form %}
                    {% if field.errors %}
                        <!-- Wyświetlenie komunikatów o błędach dla pola formularza -->
                        <ul class="list-group">
                        {% for error in field.errors %}
                            <li class="list-group-item list-group-item-danger">Pole ➤ {{ field.label }}. {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <p>
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% endfor %}
        </div>

        <!-- Formularz dla lokalizacji użytkownika -->
        <div class="col-md-3 mx-3">
                {% for field in location_form %}
                    {% if field.errors %}
                        <!-- Wyświetlenie komunikatów o błędach dla pola formularza -->
                        <ul class="list-group">
                        {% for error in field.errors %}
                            <li class="list-group-item list-group-item-danger">Pole ➤ {{ field.label }}. {{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                {% for field in location_form %}
                    {% if forloop.counter <= 3 %}
                        <p>
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </p>
                    {% endif %}
                {% endfor %}

                <!-- Wyświetlenie pól city i postcode obok siebie w jednym rzędzie -->
                <div class="row">
                    <div class="col-8 me-2">
                        <p>
                            <label class="form-label" for="{{ location_form.city.auto_id }}">{{ location_form.city.label }}</label>
                            {{ location_form.city }}
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <label class="form-label" for="{{ location_form.postcode.auto_id }}">{{ location_form.postcode.label }}</label>
                            {{ location_form.postcode }}
                        </p>
                    </div>
                </div>

                <!-- Wyświetlenie pól street, street_no i house_no obok siebie w jednym rzędzie -->
                <div class="row">
                    <div class="col-6 me-2">
                        <p>
                            <label class="form-label" for="{{ location_form.street.auto_id }}">{{ location_form.street.label }}</label>
                            {{ location_form.street }}
                        </p>
                    </div>
                    <div class="col me-2">
                        <p>
                            <label class="form-label" for="{{ location_form.street_no.auto_id }}">{{ location_form.street_no.label }}</label>
                            {{ location_form.street_no }}
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <label class="form-label" for="{{ location_form.house_no.auto_id }}">{{ location_form.house_no.label }}</label>
                            {{ location_form.house_no }}
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <!-- Przycisk do zatwierdzenia formularza -->
    <div class="d-flex justify-content-center">
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-md mb-2">Zapisz zmiany</button>
    </div>
</form>

<!-- Skrypt do obsługi wyboru regionów na podstawie wybranego wcześniej kraju -->
<script type="text/javascript">
    var subdivisionsDict = {{ subdivisions_dict | safe }};

    $(document).ready(function() {

        var $region = $('#id-region');

        function populateRegions(country) {
            $region.empty();
            $region.append('<option value=""></option>');

            if (country in subdivisionsDict) {
                var subdivisions = subdivisionsDict[country];
                $.each(subdivisions, function(index, name) {
                    $region.append('<option value="' + name + '">' + name + '</option>');
                });
            }
        }

        var country = $('#id-country').val();
        var region = "{{ location_form.instance.region }}";
        
        if (country) {
            populateRegions(country);
        }

        if (region) {
            $region.val(region);
        }

        $('#id-country').change(function() {
            var country = $(this).val();
            populateRegions(country);
        });

    });
</script>

{% endblock content %}