{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Site{% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% block head %}
        
        {% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if request.user.is_authenticated and user.profile.avatar %}
                <!-- Wyświetlenie zdjęcia profilowego użytkownika z linkiem do pełnowymiarowego obrazka -->
                <a href="{{ user.profile.avatar.url }}"><img src="{{ user.profile.avatar.url }}" class="rounded-circle mx-3" style="object-fit: cover; width: 32px; height: 32px; border-radius: 50%;" alt="Zdjęcie profilowe" /></a>
            {% endif %}
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if not request.user.is_authenticated %}
                            <!-- Przycisk do rejestracji dla niezalogowanych użytkowników -->
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Zarejestruj się</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                                <!-- Przycisk do wylogowania dla zalogowanych użytkowników -->
                                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Wyloguj się</a>
  		                    {% else %}
                                <!-- Przycisk do logowania dla niezalogowanych użytkowników -->
                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Zaloguj się</a>
  		                    {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  	    <main>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <!-- Wyświetlenie komunikatu o błędzie -->
                        <div class="alert alert-danger text-center" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <!-- Wyświetlenie komunikatu o sukcesie -->
                        <div class="alert alert-success text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
	        {% block content %} 

	        {% endblock content %}
  	    </main>
  </body>
</html>