{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!-- <script src="{% static 'js/app.js' %}" defer></script> -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>{% block title %}My Site{% endblock title %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">WORK IN PROGRESS</a>
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Zarejestruj się</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Wyloguj się</a>
  		                    {% else %}
                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Zaloguj się</a>
  		                    {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  	    <main>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
	        {% block content %} 

	        {% endblock content %}
  	    </main>
  </body>
</html>